@font-face {
  font-family: 'hk-demo';
  src: url('fonts/hk-demo.eot');
  src: url('fonts/hk-demo.eot#iefix') format('embedded-opentype'),
       url('fonts/hk-demo.woff') format('woff'),
       url('fonts/hk-demo.ttf') format('truetype'),
       url('fonts/hk-demo.svg#hk-demo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*.hwrapper {
	background-color: #000;
}*/
/*
#single-data{
      white-space: normal !important;
}
*/
/*
div.hwrapper { overflow: hidden; width: inherit; }

*/
/*
.ui-listview .ui-li-static {
    display: flex;
    white-space: normal;
}
*/

/*
.ui-listview.noEllipsis li {
    text-overflow: inherit;
    white-space: inherit;
}
*/


/*

.ui-li-aside {
    float: right;
    width: 50%;
    text-align: right;
    margin: 1.4em 0px 0px 0px !important;
    position: absolute;
    right: 25px; 
}

.ui-li-heading, .ui-li-desc {
    width: 90%;
    text-overflow: ellipsis;
}

strong { font-style: bold; }
*/
.ui-page {
    backface-visibility:hidden;
-webkit-backface-visibility:hidden; 
-moz-backface-visibility:hidden;
}


 ul li h3 {
white-space: normal !important;
white-space: pre !important; /* CSS 2.0 */
white-space: pre-wrap !important; /* CSS 2.1 */
white-space: pre-line !important; /* CSS 3.0 */
white-space: -pre-wrap !important; /* Opera 4-6 */
white-space: -o-pre-wrap !important; /* Opera 7 */
white-space: -moz-pre-wrap !important; /* Mozilla */
white-space: -hp-pre-wrap !important; /* HP Printers */
word-wrap:break-word;
overflow-wrap: break-word;
}

.hwrapper .header {
	text-align: center;
	line-height: 55px;
	width: 100%;
	height: 50px;
	background-color: #D35400;
	color: #fff;
	text-shadow: 0 0 0 rgba(255,255,255,0);
	position: relative;
}
.hwrapper .header .title {
	font-family: 'Georgia';
}
.hwrapper .header a,
.hwrapper .header a:hover,
.hwrapper .header a:active {
	color: #fff !important;
	text-decoration: none;
	font-family: 'hk-demo';
	background-color: rgba(0,0,0,0);
	font-size: 17px;
	font-weight: normal;
}
.hwrapper .open a,
.hwrapper .open a:hover {
	padding: 7px 15px;
	background-color: #000;
	border-radius: 3px;
}
.hwrapper .header .open {
	color: #fff;
	position: absolute;
}
.hwrapper .header .open.left {
	left: 20px;
	cursor: pointer;
}
.hwrapper .header .open.right {
	right: 20px;
	cursor: pointer;
}
.hwrapper .panel {
	background: #7F8C8D;
	color: #ECF0F1;
}
.hwrapper .panel a {
	color: #FFF !important;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	font-size: 14px;
	padding: 15px 20px 15px 60px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #475657;
	border-top: 1px solid #95A5A6;
	position: relative;
	font-weight: 400;
}
.hwrapper .panel ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #95A5A6;
}
.hwrapper .panel .avatar {
	position: absolute;
	top: 8px;
	left: 20px;
}
.hwrapper .ui-panel-inner {
	padding: 0;
}
.hwrapper .panel a:hover {
	background-color: #95A5A6;
}
.hwrapper .panel.right a:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
/*background-color: #FFFFFF;*/
    font-family: 'hk-demo';
	text-align: center;
	font-size: 18px;
	left: 20px;
}
.hwrapper .panel.left a:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 15px;
	left: 20px;
	font-family: 'hk-demo';
	text-align: center;
	font-size: 18px;
}
.hwrapper .panel.left .home a:before {
	content: '\e806';
}
.hwrapper .panel.left .authors a:before {
	content: '\e800';
}
.hwrapper .panel.left .aboutus a:before {
	content: '\e813';
}
.hwrapper .panel.left .contact a:before {
	content: '\e804';
}
.hwrapper .panel.left .search a:before {
	content: '\e81a';
}
/*.hwrapper .panel.left .report a:before {
	content: '\f1e0' ;
}*/

.hwrapper .panel.right .freebies a:before {
	content: '\e818';
}

.hwrapper .panel.right .how-tos a:before {
	content: '\e810' ;
}
.hwrapper .panel.right .blogging a:before {
	content: '\e815' ;
}
.hwrapper .panel.right .useful-tools a:before {
	content: '\e811' ;
}
.hwrapper .panel.right .miscellaneous a:before {
	content: '\e819' ;
}

/*.ui-page .ui-content .ui-listview {
    margin-right : 10px;
    margin-left  : 10px;
}*/
.ui-page .ui-content .ui-filterable {
    margin-right : 10px;
    margin-left  : 10px;
}
 

.wrapper, .wrapper div.iscroll-scroller {
    width: 100% !important;
    
}  
.ui-listview {
    margin: 0 !important;
}
.ui-page {
    -webkit-backface-visibility: hidden;
}
.blog {
    padding: 0 !important;
}

body{
background-color:transparent;
}
/*'\f0e0'
/*

.hwrapper .footer {
  text-align: center;
  line-height:35px;
  width: 100%;
  height: 35px;
  background-color: #BE4F05;
  color: #fff;
  text-shadow: 0 0 0 rgba(255,255,255,0);

}
.hwrapper .footer .title {
  font-family: 'Georgia';
}
*/
